<nav class="navbar bg-dark">
  <h1><a routerLink="">Computer equipment</a></h1>
    <ul *ngIf="authService.isAuthenticated();else signin">
      <li routerLinkActive="active" *ngIf="authService.isAdmin();">
        <a [routerLink]="['/admin', 'manufacture']">Manafacture</a>
      </li>
      <li routerLinkActive="active" *ngIf="authService.isAdmin();">
        <a [routerLink]="['/admin', 'order']">Order</a>
      </li>
      <li routerLinkActive="active" *ngIf="authService.isAdmin();">
        <a [routerLink]="['/admin', 'product']">Product</a>
      </li>
      <li routerLinkActive="active" *ngIf="authService.isAdmin();">
        <a [routerLink]="['/admin', 'supplier']">Supplier</a>
      </li>
      <li routerLinkActive="active" *ngIf="authService.isAdmin();">
        <a [routerLink]="['/admin', 'user']">User</a>
      </li>
      <li routerLinkActive="active" >
        <a href="" (click)="logout($event)">Sign out</a>
      </li>
    </ul>
</nav>

<ng-template #signin>
  <a [routerLink]="['/login']">Sign in</a>
</ng-template>