<div class="home-page-card">
    <div style="caption-side: top;" class="text-center">
      Orders
    </div>
    <div class="home-table" *ngIf="orders$; else loading">
      <table>
        <tr>
          <th scope="col">Status<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
          <th scope="col">Date<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
          <th scope="col">Time<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
          <th scope="col"(click)="addItem()"><fa-icon [icon]="faPlus" style="margin: 5px;"></fa-icon></th>
        </tr>
        <tr *ngFor="let order of orders$">
          <td>{{order.orderStatus}}</td>
          <td>{{order.orderDate}}</td>
          <td>{{order.orderTime}}</td>
          <td><fa-icon [icon]="faEdit" style="margin: 5px;" (click)="editItem(order)"></fa-icon>
            <fa-icon [icon]="faTrashAlt" style="margin: 5px;" (click)="deleteItem(order)"></fa-icon>
          </td>
        </tr>
      </table>
    </div>
    <div class="home-table-search">
      <div class="home-table-search-item"><button type="submit" class="btn btn-dark">Back</button></div>
      <div class="home-table-search-item"><button type="submit" class="btn btn-dark">Next</button></div>
    </div>
  </div>
  <ng-template #loading>
    <app-spinner></app-spinner>
  </ng-template>
  